.square {
	width: 560px;
	height: 160px;
	background: #D9AB91;
	box-shadow: 0.4em 0.4em 5px rgba(24, 15, 3,0.5); /*первый блок */
	position: absolute;
	top: 10%;
	left: 30%; 
}

.DWsquare {
	width: 560px;
	height: 810px;
	background: #D9AB91;
	box-shadow: 0.4em 0.4em 5px rgba(24, 15, 3,0.5);	
	position: absolute;
	top: 60%;
	left: 30%; 
}

.Simsquare {
	width: 310px;
	height: 260px;
	background: #D9AB91;
	box-shadow: 0.4em 0.4em 5px rgba(24, 15, 3,0.5); /*первый блок */
	position: absolute;
	top: 70%;
	left: 5%; 
}

a:link {
	color: #4E4873; /* Цвет ссылок */
}
a:visited {
	color: #4E4873; /* Цвет посещенных ссылок */
}
a:active {
	color: #4E4873; /* Цвет активной ссылки */ 
} 
font {
	color: #4E4873; 
	face: Roboto;
}

a {
	text-decoration: none;
	padding: 10px;
	line-height: 1.5em;
}

h1 {
	padding: 15px;
	color: #4E4873;
}
p {
	padding: 10px;
	line-height: 1.2em;	
	color: #4E4873;
}