.square {
	width: 310px;
	height: 260px;
	background: #D9AB91;
	box-shadow: 0.4em 0.4em 5px rgba(24, 15, 3,0.5); /*первый блок */
	position: absolute;
	top: 10%;
	left: 5%; 
}

.DWsquare {
	widows: 430px;
	height: 660px;
	background: #D9AB91;
	box-shadow: 0.4em 0.4em 5px rgba(24, 15, 3,0.5);	
	position: absolute;
	top: 10%;
	left: 40%; 
}

a:link {
	color: #4E4873; /* Цвет ссылок */
}
a:visited {
	color: #4E4873; /* Цвет посещенных ссылок */
}
a:active {
	color: #4E4873; /* Цвет активной ссылки */ 
} 
a {
	text-decoration: none;
	padding: 10px;
	line-height: 1.5em;
}
h3 {
	padding: 10px;
	line-height: 1.5em;	
	color: #4E4873
}